<!-- Technician -->
<div id="dataSPTechnician" class="accordion accordion-popout mb-3">
    <div class="accordion-item card">
        <div class="accordion-header text-body d-flex justify-content-between align-items-center"
            id="accordionPopoutIconOne">
            <div class="d-flex align-items-center">
                <button type="button" class="accordion-button bg-secondary text-white" data-bs-toggle="collapse"
                    data-bs-target="#dataSPTechnician-1" aria-controls="dataSPTechnician-1" aria-expanded="true">
                    <div class="display-5 me-4">
                        <i class="fad fa-hard-hat me-2"></i>
                        Technician
                    </div>
                </button>
            </div>

            <!-- RIGHT: ..... -->
            <div class="d-flex align-items-center ms-3 me-3 flex-wrap justify-content-end">
                <!-- Add some here if needed -->
            </div>

        </div>

        <div id="dataSPTechnician-1" class="accordion-collapse collapse show" data-bs-parent="#dataSPTechnician">
            <div class="accordion-body mt-3">
                {{.TABLE_DATA_SP_TECHNICIAN}}
            </div>
        </div>
    </div>
</div>

<!-- SPL -->
<div id="dataSPSPL" class="accordion accordion-popout mb-3">
    <div class="accordion-item card">
        <div class="accordion-header text-body d-flex justify-content-between align-items-center"
            id="accordionPopoutIconOne">
            <div class="d-flex align-items-center">
                <button type="button" class="accordion-button bg-primary text-white" data-bs-toggle="collapse"
                    data-bs-target="#dataSPSPL-1" aria-controls="dataSPSPL-1" aria-expanded="true">
                    <div class="display-5 me-4">
                        <i class="fad fa-user me-2"></i>
                        SPL (Service Point Leader)
                    </div>
                </button>
            </div>

            <!-- RIGHT: ..... -->
            <div class="d-flex align-items-center ms-3 me-3 flex-wrap justify-content-end">
                <!-- Add some here if needed -->
            </div>

        </div>

        <div id="dataSPSPL-1" class="accordion-collapse collapse show" data-bs-parent="#dataSPSPL">
            <div class="accordion-body mt-3">
                {{.TABLE_DATA_SP_SPL}}
            </div>
        </div>
    </div>
</div>

<!-- SAC -->
<div id="dataSPSAC" class="accordion accordion-popout mb-3">
    <div class="accordion-item card">
        <div class="accordion-header text-body d-flex justify-content-between align-items-center"
            id="accordionPopoutIconOne">
            <div class="d-flex align-items-center">
                <button type="button" class="accordion-button bg-danger text-white" data-bs-toggle="collapse"
                    data-bs-target="#dataSPSAC-1" aria-controls="dataSPSAC-1" aria-expanded="true">
                    <div class="display-5 me-4">
                        <i class="fad fa-user-tie me-2"></i>
                        SAC (Service Area Coordinator)
                    </div>
                </button>
            </div>

            <!-- RIGHT: ..... -->
            <div class="d-flex align-items-center ms-3 me-3 flex-wrap justify-content-end">
                <!-- Add some here if needed -->
            </div>

        </div>

        <div id="dataSPSAC-1" class="accordion-collapse collapse show" data-bs-parent="#dataSPSAC">
            <div class="accordion-body mt-3">
                {{.TABLE_DATA_SP_SAC}}
            </div>
        </div>
    </div>
</div>